{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }} {% endcapture %}
{% capture num_parts %} {{ url_parts | number_of_words }} {% endcapture %}
{% assign previous="" %}
<div class="breadcrumbs">
 {% if num_parts == "0" or num_parts == "-1" %}
  <span><a href="/">Startseite</a> &nbsp; </span>
 {% else %}
  <span><a href="/">Startseite</a> &#187; </span>

  {% for unused in page.content limit:num_parts %}
   {% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
   {% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

   <span><a href="{{previous}}">{{ first_word }}</a> </span>

   {% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
  {% endfor %}
 {% endif %}
</div>

