<header>
<nav class="navbar navbar-default">
  <div class="container">
	  <img alt="Logo Kastell-Apotheke Osterburken" class="img-responsive center-block" id="logoKastellApotheke" src="/assets/Logo-Kastell-Apotheke-Osterburken.png">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#kastell-apotheke-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <a class="branding" href="/"><div class="navbar-brand">{{ site.title }}</div></a>
    </div>
    <div class="collapse navbar-collapse" id="kastell-apotheke-navbar-collapse">
      <ul class="nav navbar-nav">
		{% assign nodes = site.pages | where:"language","en" | sort:"weight" %}
		{% for node in nodes %}
			{% if page.url == node.url %}
				<li class="active"><a href="{{node.url}}">{{node.title}}</a></li>
			{% else %}
				<li><a href="{{node.url}}">{{node.title}}</a></li>
			{% endif %}
		{% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
</header>
