<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{% if page.seoTitle %}{% assign title=page.seoTitle %}
	{% elsif page.title %}{% assign title=page.title %}
	{% else %}{% assign title=site.title %}
	{% endif %}
	<title>{{ title }}</title>
	{% if page.excerpt %}{% assign description=page.excerpt | strip_html | strip_newlines | truncate: 155 %}
	{% else %}{% if page.description %}{% assign description=page.description %}{% endif %}
	{% assign description=site.description %}
	{% endif %}
	<meta name="description" content="{{ description }}">
	<meta name="keywords" content="{{ site.keywords }}">

	<!-- build:css /css/ka.css -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/kastell-apotheke.css">
	<!-- endbuild -->
	{% assign canonical=page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
	<link rel="canonical" href="{{ canonical }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

	<meta name="theme-color" content="#4F6E4F">
	<link rel="icon" sizes="192x192" href="/assets/Launcher-Icon-Kastell-Apotheke-Osterburken-4x.png">
	<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png" />

	<link rel="icon" sizes="16x16" type="image/x-icon" href="/assets/favicon.ico">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

	{% if page.pre %}
		<link rel="prefetch" href="{{ site.url | append: "/" | append: page.pre | append: "/" }}"><!-- Firefox -->
		<link rel="prerender" href="{{ site.url | append: "/" | append: page.pre | append: "/" }}"><!-- Chrome -->
	{% endif %}

	{% if site.production %}
		{% include google-verification.html %}
	{% endif %}

	{% if page.image %}{% assign imageUrl=page.image | prepend: "/assets/" %}
	{% else %}{% assign imageUrl=site.image | prepend: "/assets/" %}
	{% endif %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" property="og:url" content="{{ canonical }}">
	<meta name="twitter:title" property="og:title" content="{{ title }}">
	<meta name="twitter:description" property="og:description" content="{{ description }}">
	<meta name="twitter:image" property="og:image" content="{{ imageUrl  | prepend: site.url }}">

	<link rel="manifest" href="/manifest.webmanifest">
</head>
