<div class="widget">
	<div class="emergency"><a href="https://www.lak-bw.de/notdienstportal?location=74706" rel="nofollow">Notdienst</a></div>
	<div class="emergency"><a href="https://www.kvbawue.de/buerger/notfallpraxen/" rel="nofollow">Notfallpraxen</a></div>
</div>
