<div class="widget">
	<b class="important">Changed Opening-Hours</b>
	<br />
	Between 08/22/2016 and 09/02/2016 on Tuesdays and Thursdays we are going to close already at <b class="important">6&nbsp;pm</b>.
</div>
