<div class="widget">
	<div class="emergency"><a href="https://www.lak-bw.de/notdienstportal?location=74706" rel="nofollow">Emergency Service</a></div>
	<div class="emergency"><a href="https://www.kvbawue.de/buerger/notfallpraxen/" rel="nofollow">Emergency Doctor</a></div>
</div>
