<div class="widget">
		<b class="important"><a href="/assets/angebotsblatt_22_10_o-j.pdf">Angebotsblatt (Oktober-Januar)</a></b>
	<div style="text-align: center">
		<br />
		Neu: Unser Angebotsblatt jetzt zum
		<br />
		<br />
		<a class="btn btn-success btn-sm" href="/assets/angebotsblatt_22_10_o-j.pdf" role="button"><b style="text-transform: uppercase;">Download</b></a>
	</div>
</div>

