<div class="widget important">
	<div class="announcements">Aktuelles</div>
	{% for a in site.data.announcements %}
	{% if a.des %}
	<div class="announcement">
		<div class="announcement-header"><span class="announcement-title">{{ a.de }}</span><br />{% if a.ded %}<em><span
					class="announcement-date">({{ a.ded }})</span></em>{% endif %}</div>
		<div class="announcement-snippet">{{ a.des }}</div>
	</div>
	{% endif %}
	{% endfor %}
</div>