<div class="widget">
		<b class="important"><a href="/assets/angebotsblatt_22_12_dezember.pdf">Adventskalender</a></b>
	<div style="text-align: center">
		<br />
		Neu: Unsere Adventskalender jetzt zum
		<br />
		<br />
		<a class="btn btn-success btn-sm" href="/assets/angebotsblatt_22_12_dezember.pdf" role="button"><b style="text-transform: uppercase;">Download</b></a>
	</div>
</div>
