<div class="widget">
	<b class="important">Ge&auml;nderte &Ouml;ffnungszeiten</b>
	<br />
	In der Zeit vom 22. August 2016 bis 2. September 2016 (Urlaub Praxis Dr. Nafz) schlie&szlig;en wir dienstags und donnerstags bereits um <b class="important">18:00</b>&nbsp;Uhr.
</div>
