<!DOCTYPE html>
<html lang="{{ page.language }}">

  {% include head.html %}

  <body>
	{% if page.language == 'en' %}
		{% include header_en.html %}
	{% else %}
		{% include header_de.html %}
	{% endif %}

	<div class="container">
		{{ content }}
	</div> <!-- container -->

	{% include footer.html %}

	<script async src="/js/kastell-apotheke.js"></script>
  </body>

</html>
