---
layout: page
---
<div class="post">

  <header class="post-header">
	  <p class="post-meta">
		  {% if page.language == 'de' %}
			{% assign m = page.date | date: "%-m" %}
			{{ page.date | date: "%-d." }}
			{% case m %}
			  {% when '1' %}Januar
			  {% when '2' %}Februar
			  {% when '3' %}M&auml;rz
			  {% when '4' %}April
			  {% when '5' %}Mai
			  {% when '6' %}Juni
			  {% when '7' %}Juli
			  {% when '8' %}August
			  {% when '9' %}September
			  {% when '10' %}Oktober
			  {% when '11' %}November
			  {% when '12' %}Dezember
			{% endcase %}
			{{ page.date | date: "%Y" }}
		  {% else %}
		  	{{ page.date | date: "%b %-d, %Y" }}
		  {% endif %}
		  {% if page.author %}
			{% assign author = site.data.authors[page.author] %}
			• <a rel="{{ author.rel }}" href="{{ author.authorlink }}">{{ author.name }}</a>
		  {% endif %}
		  • Osterburken
	  </p>
	<img src="{{ page.image | prepend: "/assets/" }}" alt="{{ page.title }}" class="img-responsive center-block">
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
